
$font: 'si', 'Arial', sans-serif;
$font-alt: 'sw', 'Times New Roman', serif;
$font-weight: 300;

$easing: cubic-bezier(.8,0,.03,1);

@mixin reset {
  :root {
    --main-easing: #{$easing};
  }

  * {
    box-sizing: border-box;
    font-kerning: none;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }

  button {
    background: none;
    font-size: 1em;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  a {
    color: currentColor;
  }
}
