
* {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter V', sans-serif;
    font-weight: 600;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  background: none;
  font-size: 1em;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

sup {
  font-size: 0.6em;
}

a {
  color: currentColor;
}

h2 {
  line-height: y(2);
  font-size: y(2);
  margin: 0;
}
