
@font-face {
  font-family: "si";
  src: url("./suisseintl-book-subset.woff") format("woff"),
       url("./suisseintl-book-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "si";
  src: url("./suisseintl-bookitalic-subset.woff") format("woff"),
       url("./suisseintl-bookitalic-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "sw";
  src: url("./suisseworks-book-subset.woff") format("woff"),
       url("./suisseworks-book-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sw";
  src: url("./suisseworks-bookitalic-subset.woff") format("woff"),
       url("./suisseworks-bookitalic-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
